#nav_header {
  /* max-height: 56px; */
  background: linear-gradient(34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);
  /*background-image: linear-gradient(rgba(13,84,138,1), rgba(51,221,225,1));*/
}

#header_img {
  /* max-height: 64px; */
  max-height: 56px;
}

/* @media (max-width: 600px) {
    #header_img {
      height: 56px;
    }
  } */