#nav_header {
  /* max-height: 56px; */
  background: linear-gradient(34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);
  /*background-image: linear-gradient(rgba(13,84,138,1), rgba(51,221,225,1));*/
}

.navbar-nav .nav-item:hover .nav-link {
  color: rgba(51,221,225,1);
}

#header_img {
  /* max-height: 64px; */
  max-height: 56px;
}

.navbar-brand {
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
}

@media (max-width: 991px) {
  .navbar-brand {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  }