* {
    border: none;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

body {
    background-color: #d6d6d6;
    margin: 0;
    padding: 0;
}

/* header view */

header {
    width: 100%;
    height: 56px;
    background-color: #ffffff;
    border-style: none none outset none;
}

header a{
    color: black;
    text-decoration: none;
}

#header_left {
    width: 50%;
    float: left;
}


#header_right {
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
}

#header_right div {
    font-size: 26px;
    padding: 13px;
}

#header_img {
    max-height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* object-fit: scale-down; */
}

/* main view */

#leftHalf {
    float:left;
    width: 50%;
    text-align: center;
}
#rightHalf {
    float:right;
    width: 50%;
    text-align: center;
}

.chartdiv {
    width: 75%;
    height: 400px;
}
  
/* #chartsDiv {
    margin-top: 20px;
    height: 100%;
    width: 75%;
}
.charts{
    margin-top: 20px;
} */

/*sensor card and table*/
.card_div {
    border: 1px solid black;
    border-collapse: separate;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    /* padding: 15px; */
    margin-top: 25px;
}

.sensorCard {
    width: 100%;
    padding: 15px;
}

/* td {
    padding-bottom:20px;
    padding-right:20px;   
} */

/* .numberTd, .labelTd {
    text-align: left;
} */
.nameTd {
    float: left;
    padding-top: 20px;
    padding-left: 25px;
    /* padding-top: 20px; */
    font-size: 1.5em;
}
.labelTd {
    padding: 10px;
}


/* @media screen and (max-width: 900px) {
    body {
        text-align: center;
    }
    #chartsDiv, #map {
        float: none;
        width: 100%;
    }
    #map {
        width: 0%;
    }
    .charts {
        margin-top: 20px;
        height: max-content;
    }
    #map {
        margin-top: 100px;
        height: 300px;
    }
    * {
        border: none;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .cardGroup, .excessCards {
        width: 48%;
        margin: 1%;
        float: left;
    }
    .excessGroup {
        width: 98%;
    }
} */