* {
    border: none;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

body {
    background-color: #d6d6d6;
    margin: 0;
    padding: 0;
}


/* main view */

#leftHalf {
    float:left;
    width: 50%;
    text-align: center;
}
#rightHalf {
    float:right;
    width: 50%;
    text-align: center;
}

#leftHalf div {
    background: linear-gradient(34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);
}



.half {
    padding: 20px;
}

.card {
    cursor: pointer;
}

.chartdiv {
    width: 100%;
    height: 400px;
}

.card-body {
    padding-left: 50px;
}

td {
    text-align: left;
    font-size: 18px;
}

.numberTd {
    width: 25%;
}

.labelTd {
    width: 75%;
}

/* .card {
    width: 50%;
    height: 56px;
} */


@media screen and (max-width: 991px) {

#leftHalf {
    float:left;
    width: 100%;
    text-align: center;
}
#rightHalf {
    float:right;
    width: 100%;
    text-align: center;
}

.chartdiv {
    width: 100%;
    height: 275px;
}

.card-body {
    padding-left: 20px;
}

}



/* @media screen and (max-width: 900px) {
    body {
        text-align: center;
    }
    #chartsDiv, #map {
        float: none;
        width: 100%;
    }
    #map {
        width: 0%;
    }
    .charts {
        margin-top: 20px;
        height: max-content;
    }
    #map {
        margin-top: 100px;
        height: 300px;
    }
    * {
        border: none;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .cardGroup, .excessCards {
        width: 48%;
        margin: 1%;
        float: left;
    }
    .excessGroup {
        width: 98%;
    }
} */