* {
    border: none;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

body {
    background-color: #d6d6d6;
    text-align: center;
}

header {
    background-color: #d6d6d6;
}

#map {
    /*border-radius: 50px;
    background: #d6d6d6;
    box-shadow:  23px 23px 47px #a1a1a1, 
                 -23px -23px 47px #ffffff;*/
    /* padding-top: 100px; */
    /* padding: 0; */
    float: right;
    height:380px;
    width: 50%;
    margin-top: 30px;
}
.charts{
    margin: 0 auto;
    margin-top: 50px;
    height: 350px;
    max-width: 50%;
}
.cardGroup {
    display: flex;
    justify-content: center;
}
.card {
    cursor: pointer;
    margin: 10px;
    width:  20%;
    max-width: 250px;
    height: 80px;
    border-radius: 5px;
    text-align: center;
    background-color: #62bf73;
}
.bgabove {
    background-color: rgba(255, 0, 0, 0.4);
}
.bgbelow {
    background-color: rgba(0, 0, 255, 0.4);
}
.innerCard {
    padding-top: 12px;
    padding-bottom: 12px;
}
.text1 {
    font-size: 1rem;
}
.text2 {
    font-size: 2rem;
}
@media screen and (max-width: 900px) {
    #map {
        float: none;
        width: 100%;
    }
    /* what the map??? */
    #map {
        width: 0%;
    }
    /* what the map??? */
    #map {
        margin-top: 100px;
        height: 300px;
    }
    .charts{
        margin-top: 25px;
        height: 250px;
        max-width: 100%;
    }
    .card {
        height: 50px;
    }
    .text1 {
        font-size: x-small;
    }
    .text2 {
        font-size: 1rem;
    }
}
