* {
    border: none;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #d6d6d6;
}
.healtherlogo {
    height: 250px;
    width: 250px;
}
.textform {
    text-align: center;
    margin-top: 20%;
}
.textplace {
    border-radius: 50px;
    background: #d6d6d6;
    box-shadow: inset 11px 11px 29px #9a9a9a, 
                inset -11px -11px 29px #ffffff;
    outline: none;
    margin: 20px;
    /* width: auto; */
    width: 45%;
    height: 30px;
}
.buttonDes {
    border-radius: 38px;
    background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
    box-shadow:  10px 10px 20px #7e7e7e, 
                 -10px -10px 20px #ffffff;
    width: 150px;
    height: 50px;
    outline: none;
    margin: 20px;
}
.buttonDes:active {
    border-radius: 50px;
    background: #d6d6d6;
    box-shadow: inset 11px 11px 29px #9a9a9a, 
                inset -11px -11px 29px #ffffff;
}
#firsthalf {
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
}
#secondhalf {
    background-position: right top;
    width: 70%;
    position: absolute;
    left: 30%;
    height: 100%;
}
.skyphoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}