* {
    border: none;
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100%;
}
body {
    background: linear-gradient( 34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);
}
#container {
    width: 40%;
    float: left;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#header_img_big {
    max-width: 100%;
    padding-bottom: 20px;
}

#message {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
}
#buttons button {
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 991px) {
    #container {
        width: 100%;
    }
}