* {
    border: none;
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100%;
}
body {
    background: rgb(13,84,138);
    background: linear-gradient(34deg, rgba(13,84,138,1) 0%, rgba(51,221,225,1) 100%);
    /*background-image: linear-gradient(rgba(13,84,138,1), rgba(51,221,225,1));*/
}
.healtherlogo {
    height: 250px;
    width: 250px;
}
.textform {
    text-align: center;
    margin-top: 20%;
}

/*  Label CSS  */
.input-field label {
    color: #000 !important;
  }


.leftDiv {
    width: 33%;
    float: left;
}
#firsthalf {
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
}
#secondhalf {
    background-position: right top;
    width: 70%;
    position: absolute;
    left: 30%;
    height: 100%;
}
.skyphoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}