* {
    border: none;
    box-sizing: border-box;
    margin: 0;
}

html, body { min-height: 100vh; }

body {
    background: linear-gradient( 34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);
    /* background: linear-gradient(34deg, rgba(13,84,138,1) 0%, rgba(51,221,225,1) 100%); */
}
#container {
    /* background: rgb(19, 152, 185);
    border-style: solid;
    border-color: white;
    border-radius: 10px; */
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#accordion {
    /* background: rgb(19, 152, 185); */
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background: linear-gradient( 34deg, rgba(13,84,138,1) 0%, rgb(31, 119, 121) 100%);

}
#message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.accordion-button.collapsed {
    color: white;
}

#flexSwitchCheckDefault {
    width: 40px;
    height: 20px;
}