* {
    border: none;
    box-sizing: border-box;
}
body {
    background-color: #2b6973;
}
.textplace {
    border-radius: 50px;
    background: #2b6973;
    box-shadow: inset 25px 25px 50px #1f4c53, 
                inset -25px -25px 50px #378693;
    outline: none;
    margin: 20px;
    width: auto;
    height: 30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c7c7c7;
    opacity: 1; /* Firefox */
}
.buttonDes {
    border-radius: 50px;
    background: linear-gradient(145deg, #2e707b, #275f68);
    box-shadow:  25px 25px 50px #1f4c53, 
                 -25px -25px 50px #378693;
    width: 200px;
    height: 100px;
    outline: none;
    margin: 50px;
}